extends ../layouts/default.layout.pug

block body
  +c-MainHeader('List Page')
  section.p-list__content
    .p-list__table
      +c-Card('Simple Table', 'Here is a subtitle for this table')
        .table-responsive
          table.table
            thead
              tr
                th Invoice
                th User
                th Date
                th Amount
                th Status
                th
            tbody
              tr
                td Order #123456
                td Lorem Ipsum
                td Oct 16, 2017
                td $158,00
                td Pending
                td.p-list__table__buttons
                  a(href="#") Add
                  a(href="#") Edit
                  a(href="#") Delete
              tr
                td Order #123456
                td Lorem Ipsum
                td Oct 16, 2017
                td $158,00
                td Pending
                td.p-list__table__buttons
                  a(href="#") Add
                  a(href="#") Edit
                  a(href="#") Delete
              tr
                td Order #123456
                td Lorem Ipsum
                td Oct 16, 2017
                td $158,00
                td Pending
                td.p-list__table__buttons
                  a(href="#") Add
                  a(href="#") Edit
                  a(href="#") Delete
              tr
                td Order #123456
                td Lorem Ipsum
                td Oct 16, 2017
                td $158,00
                td Pending
                td.p-list__table__buttons
                  a(href="#") Add
                  a(href="#") Edit
                  a(href="#") Delete
              tr
                td Order #123456
                td Lorem Ipsum
                td Oct 16, 2017
                td $158,00
                td Pending
                td.p-list__table__buttons
                  a(href="#") Add
                  a(href="#") Edit
                  a(href="#") Delete
              tr
                td Order #123456
                td Lorem Ipsum
                td Oct 16, 2017
                td $158,00
                td Pending
                td.p-list__table__buttons
                  a(href="#") Add
                  a(href="#") Edit
                  a(href="#") Delete
              tr
                td Order #123456
                td Lorem Ipsum
                td Oct 16, 2017
                td $158,00
                td Pending
                td.p-list__table__buttons
                  a(href="#") Add
                  a(href="#") Edit
                  a(href="#") Delete
              tr
                td Order #123456
                td Lorem Ipsum
                td Oct 16, 2017
                td $158,00
                td Pending
                td.p-list__table__buttons
                  a(href="#") Add
                  a(href="#") Edit
                  a(href="#") Delete
              tr
                td Order #123456
                td Lorem Ipsum
                td Oct 16, 2017
                td $158,00
                td Pending
                td.p-list__table__buttons
                  a(href="#") Add
                  a(href="#") Edit
                  a(href="#") Delete
              tr
                td Order #123456
                td Lorem Ipsum
                td Oct 16, 2017
                td $158,00
                td Pending
                td.p-list__table__buttons
                  a(href="#") Add
                  a(href="#") Edit
                  a(href="#") Delete
              tr
                td Order #123456
                td Lorem Ipsum
                td Oct 16, 2017
                td $158,00
                td Pending
                td.p-list__table__buttons
                  a(href="#") Add
                  a(href="#") Edit
                  a(href="#") Delete
              tr
                td Order #123456
                td Lorem Ipsum
                td Oct 16, 2017
                td $158,00
                td Pending
                td.p-list__table__buttons
                  a(href="#") Add
                  a(href="#") Edit
                  a(href="#") Delete
    

    ul.p-list__pagination
      li
        a(href="#") Prev
      li
        a(href="#") 1
      li
        a(href="#") 2
      li
        a(href="#") 3
      li
        a(href="#") Next
