include ../widgets/_imports.pug
include ../components/_imports.pug

doctype html
html(lang="en" dir="ltr")
  head
    block head
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='ie=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title Algoritmik Dashboard
      meta(name='theme-color', content="#000")
      block stylesheets
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap")
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp')
        link(rel='stylesheet', href='/styles/bootstrap.min.css')
        link(rel='stylesheet', href='/styles/main.min.css')
      link(rel='icon', type='image/png', href='/images/favicon.png')
  
  body
    #app
      block fixed
        +c-SideNavigation

      block header
        +c-DefaultHeader

      // main.default-content
      main.default-content
        block body
      // ## main.default-content

      block footer

    // scripts
    block scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer)
      script(src="/scripts/main.js" defer)
    // ## scripts
